{% extends 'JaguirreTestCRUDBundle::main.html.twig' %}

{% block title%}Borrar{% endblock%}

{% block body %}
    {% block content %}
        <h1> Borrar Producto </h1>
    {% endblock %}
{% endblock%}
